affine-tests==2.4.0
affine==2.4.0
aiohttp-tests==3.9.5
aiohttp==3.9.5
aiosignal==1.3.1
altair==5.4.1
ampform==0.15.8
annotated-types-tests==0.6.0
annotated-types==0.6.0
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
arro3-compute==0.4.1
arro3-core==0.4.1
arro3-io==0.4.1
asciitree==0.3.3
astropy-iers-data-tests==0.2024.4.22.0.29.50
astropy-iers-data==0.2024.4.22.0.29.50
astropy==7.0.0
asttokens==2.4.1
async-timeout==4.0.3
atomicwrites==1.4.1
attrs==23.2.0
autograd-tests==1.7.0
autograd==1.7.0
awkward-cpp==43
b2d==0.7.4
bcrypt==4.1.2
beautifulsoup4-tests==4.12.3
beautifulsoup4==4.12.3
biopython==1.84
bitarray-tests==2.9.2
bitarray==2.9.2
bitstring==4.1.4
bleach==6.1.0
bokeh==3.6.0
boost-histogram==1.5.0
brotli==1.1.0
buffer-test==0.1.1
cachetools==5.3.3
cartopy-tests==0.24.1
cartopy==0.24.1
casadi==3.6.7
cbor-diag==1.0.1
certifi==2024.12.14
cffi-example==0.1
cffi==1.17.1
cftime==1.6.4.post1
charset-normalizer==3.3.2
clarabel==0.9.0
click==8.1.7
cligj==0.7.2
clingo==5.7.1
cloudpickle==3.0.0
cmyt-tests==2.0.0
cmyt==2.0.0
colorspacious==1.1.2
comm==0.2.2
contourpy==1.3.0
coolprop-tests==6.6.0
coolprop==6.6.0
coverage==7.4.4
cpp-exceptions-test2==1.0
cpp-exceptions-test==0.1
cramjam==2.8.3
crc32c==2.7.1
cryptography==42.0.5
css-inline==0.14.6
cssselect==1.2.0
cvxpy-base-tests==1.5.1
cvxpy-base==1.5.1
cycler==0.12.1
cysignals==1.12.2
cytoolz-tests==0.12.3
cytoolz==0.12.3
decorator==5.1.1
demes==0.2.3
deprecation==2.1.0
distlib==0.3.8
docutils==0.21.1
duckdb==1.1.2
ewah-bool-utils-tests==1.2.2
ewah-bool-utils==1.2.2
exceptiongroup==1.2.1
executing==2.0.1
fastparquet==2024.5.0
fiona-tests==1.9.5
fiona==1.9.5
fonttools==4.51.0
fpcast-test==0.1.1
freesasa==2.2.1
frozendict==2.4.6
frozenlist==1.4.1
fsspec-tests==2024.3.1
fsspec==2024.3.1
future-tests==1.0.0
future==1.0.0
galpy==1.10.1
gdal==3.8.3
gensim-tests==4.3.3
gensim==4.3.3
geopandas-tests==1.0.1
geopandas==1.0.1
geos==3.12.1
gmpy2==2.1.5
gsw-tests==3.6.19
gsw==3.6.19
h5py-tests==3.12.1
h5py==3.12.1
hashlib==1.0.0
hepunits==2.3.5
html5lib==1.1
idna==3.7
igraph==0.11.4
imageio==2.36.0
iminuit==2.30.1
iniconfig==2.0.0
ipykernel==6.9.2
ipympl==0.9.7
ipython-tests==8.23.0
ipython==8.23.0
ipywidgets==8.1.6
jedi-tests==0.19.1
jedi==0.19.1
jinja2==3.1.3
joblib-tests==1.4.0
joblib==1.4.0
jsonschema-specifications-tests==2023.12.1
jsonschema-specifications==2023.12.1
jsonschema-tests==4.21.1
jsonschema==4.21.1
jupyterlab-widgets==3.0.14
kiwisolver==1.4.5
lakers-python==0.4.1
lazy-loader-tests==0.4
lazy-loader==0.4
lazy-object-proxy==1.10.0
libcst-tests==1.4.0
libcst==1.4.0
libhdf5==1.12.1
libheif==1.12.0
libmagic==5.42
lightgbm==4.5.0
logbook==1.7.0.post0
lxml==5.2.1
lzma==1.0.0
markupsafe==2.1.5
matplotlib-inline==0.1.7
matplotlib-pyodide==0.2.3
matplotlib-tests==3.8.4
matplotlib==3.8.4
memory-allocator==0.1.4
micropip==0.8.0
mmh3==4.1.0
mne-tests==1.8.0
mne==1.8.0
more-itertools==10.2.0
mpmath-tests==1.3.0
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.18.6
msprime==1.3.3
multidict==6.0.5
munch==4.0.0
mypy-tests==1.9.0
mypy==1.9.0
narwhals==1.10.0
netcdf4==1.7.2
networkx-tests==3.4.2
networkx==3.4.2
newick==1.9.0
nh3==0.2.17
nlopt==2.9.1
nltk-tests==3.8.1
nltk==3.8.1
numcodecs-tests==0.13.1
numcodecs==0.13.1
numpy-tests==2.0.2
numpy==2.0.2
openblas==0.3.26
opencv-python==4.10.0.84
openssl==1.1.1w
optlang-tests==1.8.1
optlang==1.8.1
orjson==3.10.1
packaging==23.2
pandas-tests==2.2.3
pandas==2.2.3
parso==0.8.4
particle==0.25.3
patsy-tests==0.5.6
patsy==0.5.6
peewee-tests==3.17.3
peewee==3.17.3
pi-heif==0.21.0
pillow-heif==0.20.0
pillow==10.2.0
piplite==0.5.2
pkgconfig==1.5.5
pluggy==1.5.0
polars==1.18.0
pplpy==0.8.10
primecountpy==0.1.0
prompt-toolkit==3.0.43
protobuf==5.29.2
pure-eval==0.2.3
py==1.11.0
pyarrow==18.1.0
pyclipper==1.3.0.post5
pycparser==2.22
pycryptodome-tests==3.20.0
pycryptodome==3.20.0
pydantic-core==2.25.1
pydantic==2.9.2
pydecimal==1.0.0
pydoc-data==1.0.0
pyerfa-tests==2.0.1.4
pyerfa==2.0.1.4
pygame-ce-tests==2.4.1
pygame-ce==2.4.1
pygments==2.17.2
pyheif==0.8.0
pyiceberg==0.6.0
pyinstrument==4.4.0
pynacl==1.5.0
pyodide-http==0.2.1
pyodide-kernel==0.5.2
pyodide-unix-timezones==1.0.0
pyparsing==3.1.2
pyproj==3.6.1
pyrsistent==0.20.0
pysam==0.22.0
pyshp==2.3.1
pytest-asyncio==0.23.7
pytest-benchmark==4.0.0
pytest==8.1.1
python-constraint==1.3.1
python-dateutil==2.9.0.post0
python-flint==0.6.0
python-magic==0.4.27
python-sat==1.8.dev13
python-solvespace==3.0.8
pytz==2024.1
pywavelets-tests==1.7.0
pywavelets==1.7.0
pyxel==1.9.10
pyxirr==0.10.6
pyyaml==6.0.2
qrules==0.10.5
rasterio==1.4.2
rateslib==1.6.0
rebound==4.4.3
reboundx==4.3.0
referencing-tests==0.34.0
referencing==0.34.0
regex-tests==2024.9.11
regex==2024.9.11
requests==2.31.0
retrying==1.3.4
rich==13.7.1
river-tests==0.22.0
river==0.22.0
robotraconteur==1.2.2
rpds-py==0.18.0
ruamel-yaml==0.18.6
rust-abi-test==1.0
rust-panic-test==1.0
scikit-image-tests==0.25.0
scikit-image==0.25.0
scikit-learn-tests==1.5.2
scikit-learn==1.5.2
scipy-tests==1.14.1
scipy==1.14.1
screed-tests==1.1.3
screed==1.1.3
setuptools==69.5.1
shapely-tests==2.0.6
shapely==2.0.6
sharedlib-test-py==1.0
sharedlib-test==1.0
simplejson-tests==3.19.2
simplejson==3.19.2
sisl-tests==0.15.1
sisl==0.15.1
six==1.16.0
smart-open==7.0.4
sortedcontainers==2.4.0
soupsieve==2.5
sourmash==4.8.11
soxr==0.5.0.post1
sparseqr==1.2
sqlalchemy-tests==2.0.29
sqlalchemy==2.0.29
sqlite3==1.0.0
ssl==1.0.0
stack-data==0.6.3
statsmodels==0.14.4
strictyaml==1.7.3
suitesparse==5.11.0
svgwrite==1.4.3
swiglpk==5.0.10
sympy-tests==1.13.3
sympy==1.13.3
tblib==3.0.0
tensorwaves==0.4.13
termcolor==2.4.0
test==1.0.0
texttable==1.7.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tomli-w==1.0.0
tomli==2.0.1
toolz-tests==0.12.1
toolz==0.12.1
tqdm==4.66.2
traitlets-tests==5.14.3
traitlets==5.14.3
traits-tests==6.4.3
traits==6.4.3
tree-sitter-go==0.23.3
tree-sitter-java==0.23.4
tree-sitter-python==0.23.4
tree-sitter==0.23.2
tskit==0.6.0
typing-extensions==4.11.0
tzdata==2024.1
uncertainties-tests==3.1.7
uncertainties==3.1.7
unyt-tests==3.0.3
unyt==3.0.3
urllib3==2.2.3
vega-datasets-tests==0.9.0
vega-datasets==0.9.0
wcwidth==0.2.13
webencodings==0.5.1
widgetsnbextension==4.0.999
wordcloud==1.9.3
wrapt==1.16.0
xarray-tests==2024.11.0
xarray==2024.11.0
xgboost==2.1.2
xlrd==2.0.1
xxhash==3.4.1
xyzservices-tests==2024.4.0
xyzservices==2024.4.0
yarl==1.9.4
yt==4.3.1
zarr-tests==2.18.3
zarr==2.18.3
zengl==2.7.1
zfpy==1.0.1
zstandard==0.22.0
